---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v2.5/league/by-summoner/23472148/entry?api_key=539404a3-2abe-4d06-9da2-ecb84c19498b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"23472148":[{"name":"Jarvan IV''s Elementalists","tier":"PLATINUM","queue":"RANKED_SOLO_5x5","entries":[{"playerOrTeamId":"23472148","playerOrTeamName":"all3nvan","division":"IV","leaguePoints":79,"wins":79,"losses":89,"isHotStreak":false,"isVeteran":true,"isFreshBlood":false,"isInactive":false,"miniSeries":{"target":2,"wins":0,"losses":1,"progress":"LNN"}}]},{"name":"Wukong''s
        Lancers","tier":"GOLD","queue":"RANKED_TEAM_5x5","entries":[{"playerOrTeamId":"TEAM-7b857620-0190-11e4-852d-782bcb4d0bb2","playerOrTeamName":"LOMOBOYSSS","division":"V","leaguePoints":0,"wins":3,"losses":5,"isHotStreak":false,"isVeteran":false,"isFreshBlood":false,"isInactive":false}]}]}'
  recorded_at: Thu, 14 May 2015 06:03:28 GMT
recorded_with: VCR 2.9.3
