.row
  .col-md-8
    %img(class="img-responsive img-rounded" src="http://placehold.it/900x350" alt="")
  .col-md-4
    %h1 LeagueLocatr
    %p Wish you had more friends? Look no further. LeagueLocatr helps you search for people who plays League of Legends in your area.
    %p Connect. Play. Make friends.
    = link_to 'Register', register_path, class: 'btn btn-primary btn-lg'

%hr

.row
  .col-md-4
    %center
      %h2 Free Registration
      %p Quick. Easy. Simple.
  .col-md-4
    %center
      %h2 Simple Service
      %p Link your League of Legends account in 3 easy steps to set up your profile, then start searching.
  .col-md-4
    %center
      %h2 Connect
      %p Send and receive messages from others.

%footer
  .row
    .col-lg-12
      %p LeagueLocatr isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
      %p Copyright &copy; LeagueLocatr 2015