<div class="jumbotron">
  <h1>LeagueLocatr</h1>
  <p>LeagueLocatr is a tool for League of Legends players to find other players near them. Although League of Legends is an online game and you can play with others easily, it gets lonely sometimes out of games with just "online friends". Why not play with people who are near you and have "IRL friends" whom you can hang out with outside of game? So what are you waiting for? Register and start searching!</p>
</div>
