<h3><%= "#{@user.username}'s Profile" %></h3>

<div class='well'>
  <ul class="list-group">
    <li class="list-group-item">Main Role: <%= @user.role.capitalize %></li>
    <li class="list-group-item">Tier: <%= @user.tier.capitalize %></li>
  </ul>
</div>