---
http_interactions:
- request:
    method: get
    uri: https://euw.api.pvp.net/api/lol/euw/v1.4/summoner/by-name/betongJocke?api_key=539404a3-2abe-4d06-9da2-ecb84c19498b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"betongjocke":{"id":19708052,"name":"betongJocke","profileIconId":552,"summonerLevel":30,"revisionDate":1431552572000}}'
  recorded_at: Thu, 14 May 2015 06:03:25 GMT
recorded_with: VCR 2.9.3
