---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v1.4/summoner/by-name/forthwin?api_key=539404a3-2abe-4d06-9da2-ecb84c19498b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"forthwin":{"id":34717477,"name":"for th win","profileIconId":583,"summonerLevel":30,"revisionDate":1422286244000}}'
  recorded_at: Thu, 07 May 2015 21:40:09 GMT
recorded_with: VCR 2.9.3
