---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v1.4/summoner/by-name/C9%20Sneaky?api_key=539404a3-2abe-4d06-9da2-ecb84c19498b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"c9sneaky":{"id":51405,"name":"C9 Sneaky","profileIconId":750,"summonerLevel":30,"revisionDate":1430901776000}}'
  recorded_at: Thu, 07 May 2015 21:40:11 GMT
recorded_with: VCR 2.9.3
