---
http_interactions:
- request:
    method: get
    uri: http://freegeoip.net/json/123.123.1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Database-Date:
      - Wed, 08 Apr 2015 16:56:28 GMT
    body:
      encoding: UTF-8
      string: |
        {"ip":"123.123.1.1","country_code":"CN","country_name":"China","region_code":"11","region_name":"Beijing Shi","city":"Beijing","zip_code":"","time_zone":"Asia/Shanghai","latitude":39.929,"longitude":116.388,"metro_code":0}
  recorded_at: Thu, 07 May 2015 19:47:17 GMT
- request:
    method: get
    uri: http://freegeoip.net/json/123.123.1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Database-Date:
      - Wed, 08 Apr 2015 16:56:22 GMT
    body:
      encoding: UTF-8
      string: |
        {"ip":"123.123.1.1","country_code":"CN","country_name":"China","region_code":"11","region_name":"Beijing Shi","city":"Beijing","zip_code":"","time_zone":"Asia/Shanghai","latitude":39.929,"longitude":116.388,"metro_code":0}
  recorded_at: Thu, 07 May 2015 19:47:17 GMT
recorded_with: VCR 2.9.3
