<%= render '/shared/content_title', title: 'Search for players near you!' %>

<%= render 'form' %>
<hr/>

<table class='table table-striped'>
  <tr>
    <td>Name</td>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.username, user_path(user) %></td>
    </tr>
  <% end %>
</table>